.error-message {
  font-size: 12px;
  color: #d01716;
  margin-bottom: 5px;
}

.d-flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.d-flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* logout */
.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 150px;
  height: auto;
  top: 3%;
  right: 3%;
  z-index: 10;
}

.logout-container > p {
  color: #3f51b5;
  margin-bottom: 5px;
}

.btn-logout {
  display: block;
  padding: 5px 20px;
  background: #e51c23;
  color: #fff;
  border: 1px solid #e51c23;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-logout:hover {
  background: #fff;
  color: #e51c23;
}

/* login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  width: 100%;
  height: auto;
}

.login-header {
  text-align: center;
  color: #1a237e;
}

.login-container > form {
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  padding: 30px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.form-group > label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 16px;
  color: #9e9e9e;
}

.form-group > label > svg {
  margin-right: 5px;
}

.form-input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  padding: 5px 5px 5px 10px;
}

.btn-submit-login {
  display: block;
  margin-right: 5px;
  padding: 5px 20px;
  background: #455ede;
  color: #fff;
  border: 1px solid #455ede;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit-login:hover {
  background: #fff;
  color: #455ede;
}

.btn-create-account {
  display: block;
  padding: 5px 20px;
  background: #fff;
  color: #455ede;
  border: 1px solid #455ede;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-create-account:hover {
  background: #455ede;
  color: #fff;
}

/* register */
.register-background {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.9);
  width: 100%;
  height: 100%;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  width: 100%;
  height: auto;
}

.register-header {
  text-align: center;
  color: #1a237e;
}

.btn-close-register {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 10;
  background: none;
  border: none;
  color: #303f9f;
  font-size: 20px;
  cursor: pointer;
}

.btn-close-register:hover {
  color: #1a237e;
}

.register-container > form {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 30px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.btn-submit-register {
  display: block;
  padding: 5px 20px;
  background: #455ede;
  color: #fff;
  border: 1px solid #455ede;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit-register:hover {
  background: #fff;
  color: #455ede;
}

/* article list */
.articleList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.show-articleList-section {
  margin: 0px auto 100px auto;
  background: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  width: 750px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.articleList-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articleList-header > h1 {
  color: #1a237e;
}

.form-search {
  position: relative;
  display: flex;
}

.form-search > input {
  position: relative;
  display: block;
  width: 185px;
  height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #e0e0e0;
  padding: 5px 5px 5px 25px;
}

.form-search > input:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  top: 30%;
  left: 3%;
  z-index: 5;
  font-size: 12px;
  color: #1a237e;
}

.btn-search {
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  height: 30px;
  font-size: 12px;
  padding: 0px 5px;
  background: #455ede;
  color: #fff;
  border: 1px solid #455ede;
  cursor: pointer;
  transition: 0.3s;
}

.btn-search:hover {
  background: #fff;
  color: #455ede;
}

.btn-clear-search {
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  height: 30px;
  font-size: 12px;
  padding: 0px 5px;
  background: #e51c23;
  color: #fff;
  border: 1px solid #e51c23;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-clear-search:hover {
  background: #fff;
  color: #e51c23;
}

.create-article-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.create-article-link > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: #283593;
  transition: 0.3s;
}

.create-article-link > a:hover {
  text-decoration: underline;
}

.create-article-link > a > svg {
  margin-right: 2px;
}

.show-articleList-section > ul {
  padding-left: 0;
}

.show-articleList-section > ul > li {
  list-style: none;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.article-name {
  margin: 10px 0px 15px 0px;
}

.article-name > a {
  text-decoration: none;
  color: #3f51b5;
  transition: 0.3s;
}

.article-name > a:hover {
  font-weight: bolder;
}

.show-time {
  color: #9e9e9e;
}

.article-sample {
  color: #283593;
}

.edit-article-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit-article-link > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: #dd191d;
  transition: 0.3s;
}

.edit-article-link > a:hover {
  text-decoration: underline;
}

.edit-article-link > a > svg {
  margin-right: 2px;
}

/* pagination */
.pagination-container {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
}

.pagination-container > span {
  color: #455ede;
}

.btn-pagination-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.btn-pagination-container > button {
  background: #5677fc;
  color: #fff;
  border: 1px solid #5677fc;
  cursor: pointer;
}

.btn-pagination-container > button:disabled {
  background: #afbfff;
  color: #fff;
}

/* create article */
.create-article-container {
  margin: 100px auto 100px auto;
  background: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  width: 750px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.create-article-container > h2 {
  color: #1a237e;
}

.form-textarea {
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  padding: 5px 5px 5px 10px;
}

.btn-submit-create-article {
  display: block;
  padding: 5px 20px;
  margin-right: 5px;
  background: #455ede;
  color: #fff;
  border: 1px solid #455ede;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit-create-article:hover {
  background: #fff;
  color: #455ede;
}

.btn-cancel-create-article {
  display: block;
  padding: 5px 20px;
  background: #e51c23;
  color: #fff;
  border: 1px solid #e51c23;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-cancel-create-article:hover {
  background: #fff;
  color: #e51c23;
}

/* article view */
.article-view-container {
  margin: 100px auto 100px auto;
  background: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  width: 750px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.article-detail {
  list-style: none;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.article-header {
  color: #3f51b5;
  margin: 15px 0px 10px 0px;
}

.article-content {
  white-space: pre-wrap;
  margin-top: 12px;
  color: #283593;
  font-size: 16px;
}

.btn-submit-edit-article {
  display: block;
  padding: 5px 20px;
  margin-right: 5px;
  background: #259b24;
  color: #fff;
  border: 1px solid #259b24;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit-edit-article:hover {
  background: #fff;
  color: #259b24;
}

.btn-delete-article {
  display: block;
  padding: 5px 20px;
  background: #e51c23;
  color: #fff;
  border: 1px solid #e51c23;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-delete-article:hover {
  background: #fff;
  color: #e51c23;
}

.back-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3f51b5;
  font-size: 18px;
  transition: 0.3s;
}

.back-link:hover {
  color: #1a237e;
}
